conifer/static/uploads
sip/openncip/*
sip/doc/sip2_developers_guide.pdf
sip/java/*
*.pyc
PyZ3950_parsetab.py
*.mo
xsip
TAGS
private_local_settings.py
/conifer/.dired
/conifer/local_settings.py
/conifer/remodel.sqlite3
*~
/conifer/test.db
/conifer/syrup/test.db
/conifer/uwindsor_migration/data/
/oils
