# -*- mode: python -*-

import os
from here import HERE

DEBUG = False

#----------------------------------------------------------------------
# You may need to set the PYTHON_EGG_CACHE directory, depending on how
# you installed Syrup.

# os.environ['PYTHON_EGG_CACHE'] = '/tmp/eggs'

#----------------------------------------------------------------------

DATABASE_ENGINE   = '' # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
DATABASE_NAME     = '' # Or path to database file if using sqlite3.
DATABASE_USER     = '' # Not used with sqlite3.
DATABASE_PASSWORD = '' # Not used with sqlite3.
DATABASE_HOST     = '' # Set to empty string for localhost. Not used with sqlite3.
DATABASE_PORT     = '' # Set to empty string for default. Not used with sqlite3.

#----------------------------------------------------------------------

ADMINS = (
    # ('Your Name', 'your_email@domain.com'),
)

TIME_ZONE = 'America/Detroit'

SECRET_KEY = 'replace-with-your-own-super-random-key-@vv(tuvt2+yu2r-$dxs$s7=iqjz_s!&'

#----------------------------------------------------------------------
# Authentication systems

EVERGREEN_AUTHENTICATION = False # Evergreen ILS authentication
LINKTOOL_AUTHENTICATION  = False # Sakai LMS Linktool authentication
LINKTOOL_AUTH_URL = 'https://...' # fixme, add documentation

#----------------------------------------------------------------------
# Stuff that probably belongs in a config table in the database, with
# a nice UI to maintain it all.

EVERGREEN_GATEWAY_SERVER = 'www.concat.ca'
Z3950_CONFIG             = ('zed.concat.ca', 210, 'OWA')  #OWA,OSUL,CONIFER

#----------------------------------------------------------------------
# INTEGRATION_MODULE: name of a module to import after the database
# models have been initialized. This can be used for defining 'hook'
# functions, and other late initializations. 
# See the 'conifer.syrup.integration' module for more information.

INTEGRATION_MODULE = 'name.of.our.integration.module'
