# -*- mode: python -*-

DEBUG = False

#----------------------------------------------------------------------
# You may need to set the PYTHON_EGG_CACHE directory, depending on how
# you installed Syrup.

# import os
# os.environ['PYTHON_EGG_CACHE'] = '/tmp/eggs'

#----------------------------------------------------------------------

DATABASE_ENGINE   = '' # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
DATABASE_NAME     = '' # Or path to database file if using sqlite3.
DATABASE_USER     = '' # Not used with sqlite3.
DATABASE_PASSWORD = '' # Not used with sqlite3.
DATABASE_HOST     = '' # Set to empty string for localhost. Not used with sqlite3.
DATABASE_PORT     = '' # Set to empty string for default. Not used with sqlite3.

#----------------------------------------------------------------------

ADMINS = (
    # ('Your Name', 'your_email@domain.com'),
)

TIME_ZONE = 'America/Detroit'

SECRET_KEY = 'replace-with-your-own-super-random-key-@vv(tuvt2+yu2r-$dxs$s7=iqjz_s!&'

#----------------------------------------------------------------------
# EZproxy integration
EZPROXY_HOST     = 'your-ezproxy.example.net'
EZPROXY_PASSWORD = 'yourpass'

#----------------------------------------------------------------------
# Authentication systems

EVERGREEN_AUTHENTICATION = False # Evergreen ILS authentication

SAKAI_LINKTOOL_AUTHENTICATION  = False # Sakai LMS Linktool authentication
SAKAI_LINKTOOL_AUTH_URL = 'https://...' # fixme, add documentation

# if you use an integration module, this is for services that deliver json payloads
CAMPUS_INFO_SERVICE = 'http://...'

# CAS authentication. See conifer/integration/cas.py, or
# http://code.google.com/p/django-cas/ .

CAS_AUTHENTICATION = False
CAS_SERVER_URL     = 'https://uwinid.uwindsor.ca/cas/'

EVERGREEN_SERVER = 'www.concat.ca'
EVERGREEN_VERSION = 2.1
RESERVES_DESK_NAME = 'Leddy: Course Reserves - Main Bldng - 1st Flr - Reserve Counter at Circulation Desk'
SYRUP_TIME_FORMAT = '%Y-%m-%dT%H:%M:%S'
SYRUP_DUE_FORMAT = '%b %d %Y, %r'
ATTACHMENT_REGEXP ='\w*DVD\s?|\w*CD\s?|\w[Gg]uide\s?|\w[Bb]ooklet\s?|\w*CD\-ROM\s?'
MIN_QUERY_LENGTH = 3

# Note, in the Evergreen integration, commenting out Z3950_CONFIG or setting it
# equal to None will result in OpenSRF being used for catalogue search instead
# of Z39.50.

Z3950_CONFIG     = ('zed.concat.ca', 210, 'OWA')  #OWA,OSUL,CONIFER

#----------------------------------------------------------------------
# INTEGRATION_CLASS: name of a class to instantiate after the database models
# have been initialized. This can be used for defining 'hook' functions, and
# other late initializations. See the 'conifer.syrup.integration' module for
# more information.

#INTEGRATION_CLASS = 'conifer.integration.evergreen_example.EvergreenExampleIntegration'
#GATEWAY_SERVER = 'windsor.concat.ca'
#GATEWAY_URL = 'osrf-gateway-v1'
#OPENSRF_STAFF_USERID = 'staff@projectconifer.ca'
#OPENSRF_STAFF_PW = 'mypassword'
#OPENSRF_STAFF_ORG = 'OWA'
#OPENSRF_STAFF_WORKSTATION = 'OWA-syrup-test'
#OPENSRF_PERMIT_GRPS = [3,4,5,11,12]
