/* General look and feel */

* {  font-family: sans-serif; }
pre, code { font-family: monospace; }

body, html { margin: 0; padding: 0; }

body {  
    background-color: #005; 
    font-size: normal; 
}

div#outer {
    background-color: white; 
    width: 960; margin-bottom: 50;
    margin-left: auto; margin-right: auto;
}
#mainpanel {  background-color: white; padding: 0 12 24 12; 
min-height: 300; 
}

/* General headers and footers */

#header, #footer {
    color: white; padding: 8 8 8 8;
    background-color: #448;
}

#header div#search {
    position: relative;
    top: -5px;
    float: right;
    margin:0.2em 0 1em;
    padding:0 0.2em 0 0.5em;
    color: #ccc;
}

#brandheader { background-color: white; padding: 8; }

#header a { color: #fff; font-weight: bold;  padding: 8 6; }
#header a.loginbutton { background-color: #a44; padding: 8 16; }
#header a:hover { background-color: #fb7; color: black; text-decoration: none; }

#footer {  
    margin: 12;
    padding-bottom: 12;
    background-color: #ddf; 
    color: black;
    border-bottom: white 10px solid;
}

h1 { font-size: 150%;  }
h2 { font-size: 135%; }
h1, h2, h3, h4 { color: navy; }

h1 a, h2 a { color: navy; }

a { color: blue; text-decoration: none; }
a:hover {  text-decoration: underline;  }

/* error panel on the person-edit form */

.errors {  margin: 1em; padding: 1em; background-color: #fdd; }
.errors h2 { font-size: 120%; }

/* actions (e.g. "edit user" link) */
.action a { font-weight: bold; }

#tabbar { margin: 18 0; padding: 0; width: 700; }
#tabbar li { display: inline; }
#tabbar li a { padding: 18 18 4 18; background-color: #ddf; color: black; text-decoration: none; }
#tabbar li a:hover { background-color: #fc8; }

/* 
#tabbar li.active a { background-color: #fa6; font-weight: bold; }
*/

.pagination_controls {
    text-align: center;
}

.pagination_controls .nums {
    padding: 0 24; 
}

.pagetable td { border: #ddd 1px solid; padding: 4 8; }
.pagetable .odd {
    background-color: #F8F8F8;
}
.pagetable thead th { font-size: smaller; text-align: left; padding: 2 8; }


/* nested titles: like breadcrumbs when drilling into an itemtree */

.nestedtitle h2 { margin-top: 8; }
.nestedtitle a { color: navy; }

/* item trees (tree of headings and items in a course */

.itemtree { 
padding-left: 25;
    list-style-type: none; 
    list-style-position: inside;
}

.itemtree .itemtree { margin-left: 0;}

/* .itemtree li { width: 400; } */

.itemtree .metalink { padding-left: 8; color: gray; }
.itemtree .metalink a {
    color: gray; 
}

.itemtree .editlinks   { padding-left: 12; color: gray; 
			 font-size: small;
		     }
.itemtree .editlinks a { color: navy; }

.itemadd { 
    margin-top: 30; font-size: smaller;
    padding: 10; background-color: #eef; 
}
.itemadd a { color: navy; }


/* specialized display of items in tree, by type */

.itemtree li.item_HEADING { 
    list-style-image: url(tango/folder.png);
    margin-top: 4;
}
.itemtree li.item_HEADING > a { 
    color: navy; 
}

.itemtree li.item_ELEC { 
    list-style-image: url(tango/document.png);
    margin-top: 4;
}

.itemtree li.item_URL { 
    list-style-image: url(tango/applications-internet.png);
    margin-top: 4;
}

.itemtree li.item_PHYS { 
    /* fixme: need a better icon */
    list-style-image: url(tango/x-office-address-book.png);
    margin-top: 4;
}


.instructors {
  border: 1px solid #ccc;
  float: left;
  width: 50%;
  padding: 2px 2px 2px 2px;
  font-size: 1em;
  line-height: 1em;
  text-align: left;
  margin-right: 5px;
}

.topbox {
  border: 1px solid #ccc;
  width: 50%;
  line-height: 1em;
  text-align: left;
}

.topheading th {
    background-color: #ddf;
}


p.todo, div.todo { background-color: #fdd; padding: 6; margin: 12; border-left: #d99 6px solid; }


.newsitem { 
    max-width: 600;
}

.menublockopener { color: gray !important; font-weight: normal !important; }
.menublock { background-color: #f0f0e0; font-size: 95%; padding: 1 4; }

#coursebanner { background-color: #f2e4cc; margin: -12 -12 0 -12; padding: 8; }

#coursebanner h1 { padding: 0; font-size: 110%; }

.breadcrumbs { margin: 8 8 8 0; }

.errorlist { float: right; }
.errorlist li { color: red; font-size: 90%; }