/* General look and feel */

* {  font-family: sans-serif; }
pre, code { font-family: monospace; }

body, html { margin: 0; padding: 0; }
body {  
    background-color: white; 
    font-size: normal;
}
#mainpanel {  background-color: white; padding: 0 12 24 12; }

/* General headers and footers */

#header, #footer {
    color: white; padding: 8 8 8 8;
    background-color: #448;
}

#header div#search {
    position: relative;
    top: -5px;
    float: right;
    margin:0.2em 0 1em;
    padding:0 0.2em 0 0.5em;
    color: #ccc;
}

#brandheader { background-color: white; padding: 8; }

#header a { color: #fff; font-weight: bold;  padding: 8 6; }
#header a.loginbutton { background-color: #a44; padding: 8 16; }
#header a:hover { background-color: #fb7; color: black; text-decoration: none; }

#footer {  
    margin-top: 12;
    padding-bottom: 12;
    background-color: #ddf; 
    color: black;
}

h1 { font-size: 150%;  }
h2 { font-size: 135%; }
h1, h2, h3, h4 { color: navy; }

h1 a, h2 a { color: navy; }

a { color: blue; text-decoration: none; }
a:hover {  text-decoration: underline;  }

/* error panel on the person-edit form */

.errors {  margin: 1em; padding: 1em; background-color: #fdd; }
.errors h2 { font-size: 120%; }

/* actions (e.g. "edit user" link) */
.action a { font-weight: bold; }

#tabbar { margin: 18 0; padding: 0; width: 700; }
#tabbar li { display: inline; }
#tabbar li a { padding: 18 18 4 18; background-color: #ddf; color: black; text-decoration: none; }
#tabbar li a:hover { background-color: #fc8; }

/* 
#tabbar li.active a { background-color: #fa6; font-weight: bold; }
*/

.pagination_controls {
    text-align: center;
}

.pagination_controls .nums {
    padding: 0 24; 
}

.pagetable td { border: #ddd 1px solid; padding: 4 8; }
.pagetable .odd {
    background-color: #F8F8F8;
}
.pagetable thead th { font-size: smaller; text-align: left; padding: 2 8; }


/* nested titles: like breadcrumbs when drilling into an itemtree */

.nestedtitle h2 { margin-top: 8; }
.nestedtitle a { color: navy; }

/* item trees (tree of headings and items in a course */

.itemtree { 
    margin-left: 30; 
    list-style-type: none; 
    list-style-position: inside;
}

.itemtree .itemtree { margin-left: 0;}

.itemtree li { width: 400; }

.itemtree .metalink { padding-left: 8; color: gray; }
.itemtree .metalink a {
    color: gray; 
}

.itemtree .editlinks   { padding-left: 12; color: gray; 
                         position: absolute; left: 0; 
			 font-size: small;
		     }
.itemtree .editlinks a { color: navy; }

.itemadd { 
    margin-left: 30; /* should match .itemtree{margin-left} */
    margin-top: 30; 
}

/* specialized display of items in tree, by type */

.itemtree li.item_HEADING { 
    margin-top: 4;
}
.itemtree li.item_HEADING > a { 
    font-weight: bold; color: navy; 
}

.itemtree li.item_URL { 
    list-style-image: url(tango/applications-internet.png);
    margin-top: 4;
}


.instructors {
  border: 1px solid #ccc;
  float: left;
  width: 50%;
  padding: 2px 2px 2px 2px;
  font-size: 1em;
  line-height: 1em;
  text-align: left;
  margin-right: 5px;
}

.topbox {
  border: 1px solid #ccc;
  width: 50%;
  line-height: 1em;
  text-align: left;
}

.topheading th {
    background-color: #ddf;
}


p.todo, div.todo { background-color: #fdd; padding: 6; margin: 12; border-left: #d99 6px solid; }


.newsitem { 
    max-width: 600;
}
